
<h4>{{answer.username}} answered: </h4>
<p>{{answer.content}} </p>
<button {{action 'deleteAnswer' answer}}>Delete Answer</button>



<!-- There were {{answerAmount}} answers!
    {{#each anser as |answer|}}
      <h4>{{answer.username}} answered:</h4>
      <p>{{answer.content}}</p>
      <button {{action 'deleteAnswer' answer}}>Delete Answer</button>
    {{/each}} -->
