{{#if addNewQuestion}}
  <div>
    <form>
        <label for="author">Author</label>
        {{input value=author id="author"}}
        <label for="content">Question</label>
        {{input value=content id="content"}}
        <label for="notes">Notes</label>
        {{input value=notes id="notes"}}
      <button {{action 'save1'}}>Save</button>
    </form>
  </div>
{{else}}
<button {{action 'questionForm'}}>Have a Question?</button>
{{/if}}
