{{#if addNewAnswer}}
  <form>
    <label for="username">Your Name</label>
    {{input value=username id="username"}}
    <label for="content"> Your Answer</label>
    {{input value=content id="content"}}
    <button {{action 'saveAnswer'}}>Save</button>
  </form>
{{else}}
  <button {{action 'newAnswerForm'}}>Add an Answer</button>
{{/if}}
