
<ul>
  {{#each model as |question|}}
    <li>{{question.author}}</li>
    <li>{{question.content}}</li>
  {{delete-question question=model destroyQuestion="destroyQuestion"}}
    {{update-question question=question update="update"}}
  {{/each}}
</ul>

<h1>Add a Question</h1>
{{new-question save2="save3"}}
