<section class="main-content">
   <h4>{{model.author}}</h4>
   <h3>{{model.content}}</h3>
   <p>Notes: {{model.notes}}</p>
 </section>

 <ul>
   {{#each model.answers as |answer|}}
     {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
   {{/each}}
 </ul>

 {{new-answer saveAnswer="saveAnswer" question=model}}
