<section class="question-content">
   <h4> This is {{model.author}}'s question</h4>
   <h3>{{model.content}}</h3>
   <p>Notes: {{model.notes}}</p>
   <div class="add-answer">
      {{new-answer saveAnswer="saveAnswer" question=model}}
   </div>
 </section>
<section class ="answer-content">
  {{#each model.answers as |answer|}}
  {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</section>
